.icon {
	display: inline-block;
	vertical-align: middle;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-actoin-menu {
	width:(4/16)*1em;
}
.icon-angle-left {
	width:(7/12)*1em;
}
.icon-attention {
	width:(20/20)*1em;
}
.icon-avatar-default {
	width:(16/16)*1em;
}
.icon-bag {
	width:(64/64)*1em;
}
.icon-bell {
	width:(20/20)*1em;
}
.icon-certificate {
	width:(60/54)*1em;
}
.icon-click {
	width:(60/64)*1em;
}
.icon-clock {
	width:(24/24)*1em;
}
.icon-close {
	width:(14/14)*1em;
}
.icon-cookie {
	width:(30/30)*1em;
}
.icon-dollar {
	width:(64/64)*1em;
}
.icon-facebook {
	width:(8/18)*1em;
}
.icon-filter {
	width:(16/16)*1em;
}
.icon-find {
	width:(64/64)*1em;
}
.icon-google-plus {
	width:(24/15)*1em;
}
.icon-hand {
	width:(64/64)*1em;
}
.icon-hand-money {
	width:(30/30)*1em;
}
.icon-hands {
	width:(64/56)*1em;
}
.icon-linkedin {
	width:(17/16)*1em;
}
.icon-men {
	width:(64/64)*1em;
}
.icon-paper {
	width:(64/64)*1em;
}
.icon-paper-small {
	width:(24/24)*1em;
}
.icon-people {
	width:(64/64)*1em;
}
.icon-plus {
	width:(14/14)*1em;
}
.icon-question {
	width:(19/19)*1em;
}
.icon-rectangle-down {
	width:(8/4)*1em;
}
.icon-rectangle-left {
	width:(4/8)*1em;
}
.icon-rectangle-right {
	width:(4/8)*1em;
}
.icon-search {
	width:(18/18)*1em;
}
.icon-sort {
	width:(6/12)*1em;
}
.icon-think {
	width:(24/24)*1em;
}
.icon-twitter {
	width:(18/15)*1em;
}
.icon-upload {
	width:(56/68)*1em;
}
