// fade style
input::-webkit-input-placeholder {
    text-indent: 0px;
    transition: all 0.7s ease;
}

input::-moz-placeholder {
    text-indent: 0px;
    transition: all 0.7s ease;
}

input:-moz-placeholder {
    text-indent: 0px;
    transition: all 0.7s ease;
}

input:-ms-input-placeholder {
    text-indent: 0px;
    transition: all 0.7s ease;
}

input:focus::-webkit-input-placeholder {
    text-indent: 50px;
    transition: all 0.7s ease;
    opacity: 0;
}

input:focus::-moz-placeholder {
    text-indent: 50px;
    transition: all 0.7s ease;
    opacity: 0;
}

input:focus:-moz-placeholder {
    text-indent: 50px;
    transition: all 0.7s ease;
    opacity: 0;
}

input:focus:-ms-input-placeholder {
    text-indent: 50px;
    transition: all 0.7s ease;
    opacity: 0;
}

textarea::-webkit-input-placeholder {
    text-indent: 0px;
    transition: all 0.7s ease;
}

textarea::-moz-placeholder {
    text-indent: 0px;
    transition: all 0.7s ease;
}

textarea:-moz-placeholder {
    text-indent: 0px;
    transition: all 0.7s ease;
}

textarea:-ms-input-placeholder {
    text-indent: 0px;
    transition: all 0.7s ease;
}

textarea:focus::-webkit-input-placeholder {
    text-indent: 50px;
    transition: all 0.7s ease;
    opacity: 0;
}

textarea:focus::-moz-placeholder {
    text-indent: 50px;
    transition: all 0.7s ease;
    opacity: 0;
}

textarea:focus:-moz-placeholder {
    text-indent: 50px;
    transition: all 0.7s ease;
    opacity: 0;
}

textarea:focus:-ms-input-placeholder {
    text-indent: 50px;
    transition: all 0.7s ease;
    opacity: 0;
}

// placeholder
input::-webkit-input-placeholder {
    color: #7c8490;
    font-size: 15px;
    font-weight: 400;
}

input:-moz-placeholder {
    color: #7c8490;
}

input::-moz-placeholder {
    font-size: 15px;
}

input:-ms-input-placeholder {
    font-weight: 400;
}